section.my-skills#my-skills
    each skill in mySkills
        .container.box
            img.image(src=`${ skill.imageSrc }`, alt=`${ skill.name } icon.`)
            h3.skill-name= skill.name
            p.description !{skill.description}
    .languages.box
        h2 Languages skillset
        each lang in languages
            h3.lang-name= lang.name
            .progress-bar(style= `--data-percent:${lang.percent}%`)
            p.description= lang.includes.join(' / ')